# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  workflow_call:
    inputs:
      DEPLOY_ENV:
        description: "Select deployment environment"
        required: true
        default: "staging"
        type: string
      COMBIND_REACT_WORKFLOW_NAME:
        description: "combind react build dist folder into mkdocs material"
        required: false
        default: ""
        type: string
      USING_REPO_README:
        description: "using repo readme.md to replace index.md"
        required: false
        default: ""
        type: string

permissions:
  contents: read
  pages: write
  id-token: write
env:
  DRAWIO_EDITOR_URL: https://de.vicp.net:25053
  KITY_MINDER_EDITOR_URL: https://de.vicp.net:25053
  ASSETS_FOLDER: tempestwin/bulletin/main/docs/assets
  NODE_TLS_REJECT_UNAUTHORIZED: 0
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # doc job
  doc:
    runs-on: [ ubuntu-latest ]
    steps:
      - name: "Set environmental variables" # workaround for unsupported nest env var
        run: |
          echo "ASSETS_FOLDER=$GITHUB_REPOSITORY/$GITHUB_REF_NAME/docs/assets" >> $GITHUB_ENV
      - name: Print Env
        run: |
          env
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Pages
        uses: actions/configure-pages@v4
      - name: Check IP reachability
        id: ipcheck
        run: |
          if ping -c 1 -W 1 192.168.50.236 >/dev/null 2>&1; then
            echo "reachable=true" >> $GITHUB_OUTPUT
          else
            echo "reachable=false" >> $GITHUB_OUTPUT
          fi
      - name: Set up Python
        if: steps.ipcheck.outputs.reachable == 'false'
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"
      - name: using repo readme to replace index.md
        if: inputs.USING_REPO_README != ''
        shell: bash
        run: |
          cp -f README.md docs/index.md
      - name: Build documentation
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          ping -c 1 -W 1 www.google.com.hk || {
            ping -c 1 -W 1 192.168.50.236 || pip3 config set global.index-url https://pypi.tuna.tsinghua.edu.cn/simple/
          }
          pip3 install -r requirements.txt --trusted-host de.vicp.net
          tools/doc.sh
          mkdocs build --clean
          mkdocs --version
      - name: Upload to GitHub Pages (Cloud)
        if: ${{ github.server_url == 'https://github.com' }}
        uses: actions/upload-pages-artifact@v3
        with:
          path: site
      # - name: Upload to GitHub Pages (GHES)
      #   if: ${{ github.server_url != 'https://github.com' }}
      #   uses: actions/upload-pages-artifact@v2
      #   with:
      #     path: site

  # Deployment job
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: [ ubuntu-latest ]
    needs: doc
    steps:
      - name: Deploy to GitHub Pages (Cloud)
        if: ${{ github.server_url == 'https://github.com' }}
        id: deploy_cloud
        uses: actions/deploy-pages@v4

      # - name: Deploy to GitHub Pages (GHES)
      #   if: ${{ github.server_url != 'https://github.com' }}
      #   id: deploy_ghes
      #   uses: actions/deploy-pages@v3
